<!doctype html>
<html lang="fr">
<head>
    <title>Mes Copains !</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <h1 class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Mes Copains (en AJAX) !</h1>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Menu</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#index">
                            <i class="fa fa-home"></i> Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#groupes">
                            <i class="fa fa-users"></i> Groupes
                        </a>
                    </li>
                    <li id="groupeNav" class="nav-item" hidden>
                        <a class="nav-link" href="#groupe">
                            <i class="fa fa-user-friends"></i> Groupe
                        </a>
                    </li>
                    <li id="billetNav" class="nav-item" hidden>
                        <a class="nav-link" href="#billet">
                            <i class="fa fa-ticket-alt"></i> Billet
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#users">
                            <i class="fa fa-user"></i> Utilisateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#deco">
                            <i class="fa fa-sign-out-alt"></i> Déconnexion
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div id="errMsg" >
                <script id="errMsgTemplate" type="x-tmpl-mustache">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>{{message}}
                </div>
                </script>
            </div>
            <div id="succMsg" >
                <script id="succMsgTemplate" type="x-tmpl-mustache">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>{{message}}
                    </div>
                </script>
            </div>
            <!------------------------------------------------------------->
            <!---------------     AUTHENTIFICATION       ------------------>
            <!------------------------------------------------------------->
            <section id='index' class='active'>
                <h2>Bienvenue sur Chatons.org</h2>
                <form method="post" id="userLogin">
                    <div class="form-group">
                        <label>Entrez votre pseudo:</label>
                        <input type="text" class="form-control" name="pseudo" id="pseudo">
                    </div>
                    <button id="loginbtn" class="btn btn-primary" type="submit">Connect</button>
                </form>
            </section>
            <!------------------------------------------------------------->
            <!---------------            GROUPES         ------------------>
            <!------------------------------------------------------------->
            <section id='groupes' class='inactive'>
                <form method="post" id="createGroupe">
                    <div class="form-group">
                        <label>Créer un nouveau groupe:</label>
                        <input type="text" class="form-control" name="groupe">
                    </div>
                    <button type="submit" class="btn btn-primary" id="groupebtn">Créer</button>
                </form>
                <h2>Liste des groupes</h2>
                <div id="groupesContainer">
                    <!-- Pour chaque élément de la liste, l'interface doit proposer à l'utilisateur de :
                    - s'inscrire au groupe
                    - se désinscrire du groupe
                    - accéder au groupe
                    - supprimer le groupe
                    Les résultats de l'opération invoquée par le client seront affichés dans le div "errMsg" -->
                    <script id="groupesTemplate" type="x-tmpl-mustache">
                        <ul id='groupesList' class='list-group'>
                            {{#groupes}}
                                <li class='list-group-item'>
                                    <a class="router-groupe" href="#groupe" data-reference="{{.}}" > {{.}} </a>
                                </li>
                            {{/groupes}}
                        </ul>
                    </script>
                </div>
                <p><a class="router" href='#deco'>Déconnexion</a></p>

            </section>

            <!------------------------------------------------------------->
            <!---------------            GROUPE          ------------------>
            <!------------------------------------------------------------->

            <section id='groupe' class='inactive'>
                <div id="groupeContainer">
                    <!-- Pour chaque élément de la liste, l'interface doit proposer à l'utilisateur de :
                        - visualiser le billet
                        - modifier le titre du billet (aide : attribut contenteditable)
                        - supprimer le billet
                        -->
                    <script id="groupeTemplate" type="x-tmpl-mustache">
                        <h2 name="groupeName">{{nom}}</h2>
                        <h3>{{description}}</h3>
                        <p id="grpDesc"></p>
                        <h3>Billets</h3>
                        <ul id='billetsList' class='list-group'>
                            {{#billets}}
                                <li class='list-group-item'> 
                                    <a data-reference='{{.}}' class='router-billet' href='#billet'> {{.}} </a>
                                </li>
                            {{/billets}}
                        </ul>
                    </script>
                </div>
                <hr>
                <form method='post' id='createBillet'>
                    <div class="form-group">
                        <label>Créer un nouveau billet:</label>
                        <input type='text' class="form-control" name='titre' placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea name="contenu" class="form-control" rows="4"></textarea>
                    </div>
                    <button type='submit' class="btn btn-primary" id="billetbtn">Envoyer</button>
                </form>
                <p><a class="router" href='#groupes'>Liste des groupes</a></p>
            </section>

            <!------------------------------------------------------------->
            <!---------------            BILLET          ------------------>
            <!------------------------------------------------------------->

            <section id='billet' class='inactive'>
                <div id="billetContainer">
                    <script id="billetTemplate" type="x-tmpl-mustache">
                        <p>Ceci est un billet de <span id='bltAuteur'>{{auteur}}</span>.</p><br><br>
                        <h1 id="bltTitre">{{titre}}</h1>
                        <div class="contenu" id="bltContenu">
                            <h3>Description</h3>
                            <p>{{contenu}}</p>
                        </div>
                        <div class="contenu">
                            <h3>Commentaires</h3>
                            <!-- Pour chaque élément de la liste, l'interface doit proposer à l'utilisateur de :
                            - modifier le commentaire
                            - supprimer le commentaire
                            -->
                            <ul id='commentList' class='list-group'>
                                {{#commentaires}}
                                    <li class='list-group-item' ><a href='{{.}}'> {{.}}</a></li>
                                {{/commentaires}}
                            </ul>
                        </div>
                    </script>
                </div>
                <form method="post" action="Commentaires" class="form-inline">
                    <label>Ajouter un commentaire: </label>
                    <input type="text" class="form-control ml-3" name="commentaire">
                    <input type="submit" class="btn btn-primary" value="Envoyer">
                </form>
                <p><a class="router" href="#groupe">Retour au groupe</a></p>
                <p><a class="router" href="#deco">Se déconnecter</a></p>
            </section>

            <!------------------------------------------------------------->
            <!---------------             USERS          ------------------>
            <!------------------------------------------------------------->

            <section id='users' class='inactive'>
                <h2>Liste des utilisateurs</h2>
                <!-- Rien de particulier à faire ici, juste lister les pseudos. -->
                <div id="usersContainer">
                    <script id="usersTemplate" type="x-tmpl-mustache">
                        <ul id='usersList' >
                            {{#users}}
                                <li>{{.}}</li>
                            {{/users}}
                        </ul>
                    </script>
                </div>
                <p><a href='#deco'>Déconnexion</a></p>
            </section>
            <!------------------------------------------------------------->
            <!---------------          DECONNEXION       ------------------>
            <!------------------------------------------------------------->
            <section id='deco' class='inactive'>
                <h2>Déconnexion</h2>
                <form method="post" id="userLogout">
                    <p>Validez ce formulaire pour vous déconnecter:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="user">
                        <label class="form-check-label">Supprimer l'utilisateur</label>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Deconnexion">
                </form>
                <p><a class="router" href='#index'>Retour à la page d'accueil</a></p>
            </section>
        </main>
    </div>
</div>

<script>
    var cacheName = 'shell-content';
    var filesToCache = [
        '/css/style.css',
        '/js/get.js',
        '/js/post.js',
        '/index.html',
    ];
    
    self.addEventListener('install', function(e) {
        console.log('[ServiceWorker] Install');
        e.waitUntil(
        caches.open(cacheName).then(function(cache) {
            console.log('[ServiceWorker] Caching app shell');
            return cache.addAll(filesToCache);
        })
        );
    });
</script>
    
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script src="./js/script.js" defer></script>
</body>
</html>
